
parameters:
    timezone: Europe/Berlin
    tempDir: %appDir%/../temp
    dataDir: %appDir%/data
    countryCfg: %dataDir%/countries.csv
    groupCfg: %dataDir%/groups.php

php:
    date.timezone: %timezone%

application:
    scanDirs: false
    errorPresenter: Error
    mapping:
        *: App\*Module\*Presenter

services:
    router: App\RouterFactory::createRouter
    countries: My\Countries::factory(%countryCfg%)

    groups: My\Groups::factory(%groupCfg%)
