{import 'fragments.latte'}

{block content}
<div n:foreach="$days as $day" class="day {$day->dow >= 6 ? 'weekend'}">
    <div class="date">{$day->date|date:'D, d.m'}</div>
    {foreach $day->events as $event}
        {if $event->match}
            {include #matchDiv, $event->match}
        {else}
            <div class="match">&nbsp;</div>
        {/if}
    {/foreach}
</div>
{/block}
