<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nittro.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" />
    <!--script type="application/javascript" src="js/nittro.min.js" async defer></script-->
</head>
<body style="font-family: monospace">
<a n:href="Home:default">Home</a>
<a n:href="Home:groups">Gruppen</a>
<a n:href="Home:matches">Spiele</a>
<hr>
{include content}

</body>
</html>
