{import 'fragments.latte'}

<div n:foreach="$days as $day" class="day {$day->weekend ? 'weekend'}">
    <div class="date">{$day->date|date:'D, d.m'}</div>
    <div class="match" n:foreach="$day->matches as $match">
        <span>{include #team, $match->team1}</span>
        <span>vs.</span>
        <span>{include #team, $match->team2, true}</span>
    </div>
</div>
