<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nittro.min.css" />
    <script type="application/javascript" src="js/nittro.min.js" async defer></script>
</head>
<body style="font-family: monospace">

{include content}

</body>
</html>
